body{
    background-image: url("https://i.imgur.com/gddAmAV.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgb(245, 210, 122);
}

#Combats{
    border-style: solid;
    border-radius: 3px;
    border-color: darkred;
    margin-right: auto;
}

#CombatHeading{
    margin-left: 1%;
    text-decoration: underline;
}

DIV.table
{
    display:table;
}
FORM.tr, DIV.tr
{
    display:table-row;
}
SPAN.td
{
    display:table-cell;
    border:1px solid black;
    border-radius: 2px;
    padding:1px;
    background-color: lightgray;
}